.App {
  text-align: center;
  background-color: #222833;
  color: white;
  background-image: url('../img/background.jpeg');
  background-position: center; 
  height: 800px;
  width: 1600px;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
}
